{% extends 'base.html' %}

{% block title %}
    <title>Оформлення замовлення</title>
{% endblock title %}



{% block main %}
    <main class="container">
        <!-- Головний контент сторінки -->
        <h2 class = "my-5 text-center">Нове замовлення</h2>
        <form action ="" method="POST" enctype="multipart/form-data">
          {% for type, message in get_flashed_messages(True) %}
            <div class="alert {{type}} my-3 "> {{message}} </div>
          {% endfor %}


            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ім'я та прізвище</label>
                <input required name = "name"type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Номер телефону</label>
                <input required name = "phone"type="tel" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">email</label>
                <input required name = "email"type="email" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Місто</label>
                <input required name = "city"type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Адреса</label>
                <input required name = "address"type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Кількість</label>
                <input required name = "amount"type="number" class="form-control" id="exampleFormControlInput1" >
              </div>
              <button type="submit" class="btn btn-primary">Оформити замовлення</button>
        </form>
        
    </main>
{% endblock main %}